#title,
#under-title {
  font-family: monospace;
  text-align: center;
}

#game {
  border: 1px solid #20c20e;
  padding: 6px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

#money {
  font-size: 18px;
  height: 80%;
}

#dice-button {
  border: 1px solid #20c20e;
  outline: none;
  color: white;
  font-family: monospace;
  background-color: transparent;
  height: 40px;
  width: 128px;
}

.game-list {
  list-style-type: square;
}
